 <div
  class="scrollable-container p-4 border-custom rounded bg-secondary text-white"
  role="region"
  aria-labelledby="upcoming-events"
  id="events-container2"
></div>

<p class="text-center" id="loading-message2">
  <span class="spinner-border text-light" role="status"></span>
  Loading events...
</p>  

<!-- Draggable DIV -->
<div class="modal-pos" id="modal-container" >

</div>

