<!-- Search and Filter Controls -->
<div class="search-filter-container mb-4">
  <div class="row">
    <!-- Search Input -->
    <div class="col-md-3">
      <input type="text" id="search-input-dash" class="form-control" placeholder="Search events...">
    </div>
    <!-- Filter Dropdowns -->
    <div class="col-md-2">
      <select id="category-filter-dash" class="form-select">
        <option value="">All Categories</option>
        <!-- Categories will be dynamically inserted here -->
      </select>
    </div>
    <div class="col-md-2">
      <select id="host-filter-dash" class="form-select">
        <option value="">All Hosts</option>
        <!-- Hosts will be dynamically inserted here -->
      </select>
    </div>
    <div class="col-md-2">
      <select id="club-filter-dash" class="form-select">
        <option value="">All Clubs</option>
        <!-- Clubs will be dynamically inserted here -->
      </select>
    </div>
    <div class="col-md-2">
      <select id="location-filter-dash" class="form-select">
        <option value="">All Locations</option>
        <!-- Locations will be dynamically inserted here -->
      </select>
    </div>
    <div class="col-md-1">
      <div class="d-flex justify-content-between">
        <button class="btn btn-primary" style="width: 48%;" id="refresh-dash-button" data-bs-toggle="tooltip" data-bs-placement="top" title="Refresh">
          <i class="bi bi-arrow-clockwise"></i>
        </button>
        <%= link_to new_event_path, class: "btn btn-success", style: "width: 48%;", id: "create-event-button", data: { bs_toggle: "tooltip", bs_placement: "top", bs_title: "Create a new event" } do %>
          <i class="bi bi-plus-lg"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Existing Events Container -->

<div class="scrollable-container p-4 border-custom rounded" id="events-container2" role="region" aria-labelledby="upcoming-events">
  <!-- Event cards will be dynamically inserted here by JavaScript -->
</div>

<div id="loading-message2" class="text-center my-3" style="display: none;"> Loading events </div>