<!-- Event Modal -->
<div class="modal fade" id="event-modal-2" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg"> <!-- Added modal-lg for larger size -->
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header bg-primary text-white"> <!-- Styled header -->
        <h5 class="modal-title" id="eventModalLabel">Event Title</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- Modal Body -->
      <div class="modal-body">
        <!-- Event Image -->
        <!--
        <img src="path_to_your_image.jpg" class="img-fluid rounded mb-3" alt="Event Image">
        -->
        
        <!-- Event Details -->
        <h5 class="mb-3">Event Details</h5>
        <p id="eventDescription">Event description here...</p>
        <div id="eventModalMap" style="width: 100%; height: 300px;"></div>
        
        <!-- Additional Information -->
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Date & Time:</strong> <span id="eventDateTime">October 28, 2023, 7:00 PM</span></li>
          <li class="list-group-item"><strong>Location:</strong> <span id="eventLocation">New York City</span></li>
          <li class="list-group-item"><strong>Hosted By:</strong> <span id="eventHost">John Doe</span></li>
        </ul>
      </div>
      <!-- Modal Footer -->
      <div class="modal-footer d-flex justify-content-between">
        <!-- Social Media Share Buttons -->
        <!-- Close Button -->
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
