<style>
    

</style>



<!-- app/views/dashboard -->
<div >
<div class="container">
    <div class= "left-section col-lg-2 col-md-2 md-4">
        <h2>Time</h2>
        <select class="form-control">
            <option value="all">All times </option>
            <option value="morning"> Morning </option>
            <option value="afternoon"> Afternoon </option>
            <option value="night"> Night </option>
        </select>
        <label for="customRange1" class="form-label"> Time range </label>
        <input type="range" class="form-range" min="00:00" max="23:59" id="customRange1"> 

    </div>
    

    <div class="right-section">
        <!-- User's activities -->
        <h2>Your upcoming activities</h2>
         <!-- Dynamically load the activity cards -->
            <div class="col-lg-14 col-md-12 mb-14 events">
                <%= render 'events_for_dash' %>
            </div>

    </div>

</div>