<!-- app/views/home/_events.html.erb -->
<%= render 'home/modal' %>
<div class="scrollable-container p-2 border-custom rounded bg-secondary text-white">
  <% if @events.any? %>
    <% @events.each do |event| %>
      <!-- Event Card Template -->
      <div class="card bg-dark text-white shadow-sm mb-3 hover-shadow" data-toggle="modal" data-target="#detailModal-<%= event.id %>">
        <div class="card-body d-flex">
          <div class="me-3">
            <i class="bi bi-calendar-event" style="font-size: 2rem; color: var(--primary-color);" aria-hidden="true"></i>
          </div>
          <div>
            <h5 class="card-title fw-bold"> <%= event.title %> </h5>

            <h6 class="card-subtitle mb-2"> <%= event.event_type.type_name %></h6>

            <p class="btn btn-primary mt-2 mb-2" ><i class="bi bi-geo"></i> Location</p>
          </div>
        </div>
        
        <div class="card-footer bg-footer border-top border-secondary">
          <div class="d-flex align-items-center">
            <span class="me-2">Current Users:</span>
            <div class="d-flex">
              <div class="avatar d-flex justify-content-center align-items-center me-2" style="width: 35px; height: 35px; border-radius: 50%;">AB</div>
              <div class="avatar d-flex justify-content-center align-items-center" style="width: 35px; height: 35px; border-radius: 50%;">CD</div>
              <!-- Add more user avatars as needed -->
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    NO UPCOMING EVENTS
  <% end %>
</div>