<div class="modal fade" id="news-modal" tabindex="-1" aria-labelledby="newsModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content bg-dark text-white">
    <div class="modal-header">
      <h5 class="modal-title" id="newsModalLabel">News Title</h5>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body" id="newsModalBody">
      News description here...
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

    </div>
  </div>
</div>
</div>