<!-- News Section Header -->
<h4 class="mb-3" id="latest-news-updates">Latest News & Updates</h4>

<!-- News Container -->
<div
  class="scrollable-container p-4 border-custom rounded bg-secondary text-white"
  role="region"
  aria-labelledby="latest-news-updates"
  id="news-container"
>
  <p class="text-center" id="news-loading-message">
  <span class="spinner-border text-light" role="status"></span>
  Loading news...
</p>

</div>
