<!-- app/views/home/_news.html.erb -->
<%= render 'home/modal' %>
<h4 class="mb-3" id="latest-news-updates">Latest News & Updates</h4>

<div class="scrollable-container p-4 border-custom rounded bg-secondary text-white" role="region" aria-labelledby="latest-news-updates">
    <% if @latest_news.any? %>
        <% @latest_news.each do |news| %>

            <div class="card bg-dark text-white shadow-sm mb-3 hover-shadow">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title fw-bold">Breaking News 1</h5>
                    <p class="card-text">This is a placeholder for breaking news. The actual content will be added here soon.</p>
                    <button class="mt-auto btn btn-primary" data-toggle="modal" data-target="#detailModal-news">
                    Read more
                    </button>
                </div>
            </div>
        <%end %>
    <% else %>
        <p class = "text_center"> No news at the moment. </p>
    <% end %>
</div>