<div class="container my-4">
  <div class="row">
    <!-- News Section (Left Column) -->
    <div class="col-lg-4 col-md-5 mb-4">
      <%= render 'home/news' %>
      <%= render 'home/news_modal' %>
    </div>

    <!-- Events Section (Right Column) -->
    <div class="col-lg-8 col-md-7 mb-4">
      <%= render 'home/events' %>
      <%= render 'home/events_modal' %>
    </div>
  </div>
</div>
