<% if flash[:login_notice] %>
 <div id="flash-notice" class="flash-message notice"><%= flash[:login_notice] %></div>
<% end %>
<% if flash.now[:alert] %>
  <p class="error-message"><%= flash.now[:alert] %></p>
<% end %>

<div id="login_form">
  <%= render 'form' %>
</div>



<!-- Include the JavaScript file -->
<%= javascript_include_tag 'login', defer: true%>

